version: "3.9"

services:
  app:
    build: ./app
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

  nginx:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on:
      - app